@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

*{margin:0;padding:0;font:inherit;color:inherit;line-height: 1.35em;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
/* :root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4} */
html, body {height:100%;}
body {
    line-height: 1;
}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
ul,ol {list-style: none;}
a {text-decoration:none; line-height: 1.35em;}
table {border-collapse:collapse;border-spacing:0}
strong {
    font-weight: bold;
}
input {
    font-family: 'Nanum Gothic';
    color: #767676;
}
body {
    min-width: 1152px;
    /* 화살표 포함 width */
    font-size: 14px;
    vertical-align: baseline;
    background: transparent;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    color: #222;
    font-style: normal;
    letter-spacing: -0.05em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background: url(../images/arrow.png) no-repeat no-repeat 96% center;
    background-size: 8px auto;
}